{% extends "layout.html" %}

{% block content %}

    
    <div class="col-md-6">
    <br>
    <div class="well">

		<h4> Frequent asked questions </h4>
		<p>
		Is it possible to change my login wallet? 
		</p>
		<p>
		Unfortunately, not at this time. Please make sure you have access to your wallet at all times.
		</p>
		<p>
		How does this system work? 
		</p>
		<p>
		We are paid in revenue from ads, and by mining crypto currency while you visit this website 
		</p>

		<p>
		How much can I earn with this System? 
		</p>
		<p>
		It's all up to you! There is no limit !!!
		</p>
		<p>
		Is it possible for a single user to have more than one account? 
		Not at this time.
		</p>

		<p>
		What is the minimum amount for withdrawal?
		</p>
		<p> 
		with drawals happen automaticly on the 11th coin after 10 coins are collected 
		</p>
		<p>
		My question is not addressed here... How can I get in touch with you? 
		</p>
		<p>
		
		</p>

    </div>
   
</div>

{% endblock %}